.Location:hover > svg {
    @apply stroke-red-accent transition-colors
}
.Location:hover > p {
    @apply text-red-accent transition-colors underline
}
.EventCard:hover > div > h2{
    @apply text-red-accent transition-colors
}
.EventCard:hover > div:first-child{
    @apply bg-red-accent transition-colors
}
.EventGrid{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    'md md md md md md'
    'md md md md md md'
    'act act act rad rad rad'
    'act act act rad rad rad'
    'act act act rad rad rad';
}

.md {
    grid-area: md;
}
.act {
    grid-area: act;
}
.rad {
    grid-area: rad;
}